* {
	margin: 0;
	padding: 0;
}

html {
  font-family: "Roboto", "Helvetica", "Arial";
  font-weight: 600;
  color: white;
  min-width: 900px;
}

body {
  background: url("space.jpg");
  text-align: center;
}

#title {
  margin-top: 1.3em;
  padding-top: 0.5%;
  background: linear-gradient(90deg, rgba(226,93,58,1) 17%, rgba(143,0,248,1) 85%);
}

.day-of-week {
  display: grid;
  padding-top: 0.5%;
  font-size: 200%;
  grid-template-columns: repeat(7, 1fr);
  justify-content: center;
  text-align: center;
}

.day-of-week {
  margin-top: 1em;
  margin-bottom: 1em;
  background: linear-gradient(90deg, rgba(226,93,58,1) 17%, rgba(143,0,248,1) 85%);
}

.day-of-week > * {
  font-size: 1em; 
  color: white; 
  letter-spacing: 0.15em;
  font-variant: big-caps;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr); 
  background-image: url('saturn2.png');
  background-size: cover;
  background-position: center;
}

.days {
  margin: 0.5vw;
  height: 11vw;
  min-height: 100px;
  min-width: 100px;
	display: grid;
	align-items: center;
  border: 0.5em;
  border-width: 0.5em;
  border-style: solid;
  border-color: rgba(149,101,203,1); 
}

.days h1:hover {
  cursor: pointer;
  font-size: 300%;
  padding-top:0.2em;
  background-color: rgb(255,255,255,0.5);
  color: rgba(230,17,185,1); 
}

#notapril {
  border-color: rgba(149,101,203,0.3); 
}
